<!DOCTYPE html>
html(lang="zh_TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        // build:css css/main.min.css
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        // endbuild
        title Playing With CSS Variables and js
    body
        h2
            | Update CSS Variables with 
            span.hl JS

        .controls
            label(for='spacing') Spacing:
            input#spacing(type='range', name='spacing', min='10', max='200', value='10', data-sizing='px')
            label(for='blur') Blur:
            input#blur(type='range', name='blur', min='0', max='25', value='10', data-sizing='px')
            label(for='base') Base Color
            input#base(type='color', name='base', value='#ffc600')

        img(src='https://source.unsplash.com/7bwQXzbF6KE/800x500')
        // build:js js/main.min.js
        script(src="js/app.js")
        // endbuild