<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        // build:css css/main.min.css
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        //endbuild

        title Custom HTML5 Video Player
    body
        .player
            video.player__video.viewer(src='https://player.vimeo.com/external/194837908.sd.mp4?s=c350076905b78c67f74d7ee39fdb4fef01d12420&profile_id=164')
            .player__controls
                .progress
                    .progress__filled
                button.player__button.toggle(title='Toggle Play') ▶
                input.player__slider(type='range', name='volume', min='0', max='1', step='0.05', value='1')
                input.player__slider(type='range', name='playbackRate', min='0.5', max='2', step='0.1', value='1')
                button.player__button(data-skip='-10') « 10s
                button.player__button(data-skip='25') 25s »

        // build:js scripts/main.min.js
        script(src="scripts/app.js")
        // endbuild